/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: serif;
}

/* NAVBAR */
.navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    color: white;
    z-index: 10;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

/* HERO */
.hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

/* VIDEO */
#bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* OVERLAY */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}


/* HERO CONTENT */
.hero-content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.hero-content h2 {
    font-size: 60px; /* pas 80+ */
}

.hero-content p {
    font-size: 18px;
}

/* BUTTON */
.hero-content button {
    padding: 12px 25px;
    border: none;
    background: #c9a96e;
    color: white;
    cursor: pointer;
}

.carousel {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    align-items: center;
    gap: 60px;
    transition: transform 0.5s ease;
}

/* cards */
.card {
    width: 250px;
    height: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    opacity: 0.4;
    transform: scale(0.8);
    transition: all 0.5s ease;
}

/* center card */
.card.active {
    width: 400px;
    height: 550px;
    opacity: 1;
    transform: scale(1);
}

/* image */
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* overlay dark */
.card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}

/* text */
.card h2 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: white;
    font-size: 22px;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-links li {
    cursor: pointer;
    position: relative;
}

/* hover underline animation */
.nav-links li::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: #c9a96e;
    transition: 0.3s;
}

.nav-links li:hover::after {
    width: 100%;
}

.btn-nav {
    padding: 10px 20px;
    background: #c9a96e;
    border: none;
    color: white;
    cursor: pointer;
}

.card:hover {
    transform: scale(0.9);
    opacity: 0.7;
}

.card.active:hover {
    transform: scale(1.05);
}